<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <link rel="icon" type="image/png" href="../public/logo.png" />
    <link rel="stylesheet" type="text/css" href="../public/main.css" />

</head>

<body>

    <div class="topnav">
        <a href="../index.html">Inicio</a>
        <a class="active" href="./curriculum.html">Curriculum</a>
        <a href="./multimedia.html">Multimedia</a>
        <a href="./estadisticas.html">Estadisticas</a>
    </div>

    <br>

    <div class="main">
        <img src="../public/roberto.jpeg" class="img" height="190" alt="imagen">
        <h2>Roberto Yunior Dominguez Molina</h2>

        <br>

        <fieldset>
            <legend>Datos Personales</legend>
            <ul>
                <li>C.I.: 8235543 SC</li>
                <li>Direccion: Urb. Cotoca Dorado Centro</li>
                <li>Celular: +591 78579772</li>
                <li>Email: robertodominguez52314@gmail.com</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Formacion academica</legend>
            <ul>
                <li>Primaria:Colegio “Gaston Guillaux II”// Santa Cruz, Bolivia</li>
                <li>Secundaria:Colegio “Gaston Guillaux II”// Santa Cruz, Bolivia</li>
                <li>Título:Bachiller en Ciencias y Humanidades</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Formacion complementaria</legend>
            <ul>
                <li>2017 Musica - Instituto Centinella Music</li>
                <li>2018 Desarrollo de videojuegos con unity - Udemy</li>
                <li>2018 Adobe Photoshop Basico - SABER </li>
                <li>2018 Tecnologias de la informacion y comunicacion - CINAE </li>
                <li>2019 Ingles - CAI </li>
                <li>2019 Laravel Avanzado - Udemy </li>
                <li>2019 Android studio - Udemy </li>
                <li>2020 Administrador de servidores - Capacitate para el empleo</li>
                <li>2020 Flutter Intermedio - Udemy </li>
                <li>2020 Scrum Master - Udemy</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Logros</legend>
            <ul>
                <li>2019 Segundo Lugar en la expociencia UAGRM-FICCT</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Experiencia laboral</legend>
            <ul>
                <li>2019 Practicas profesionales en Las Vegas Restaurant</li>
                <li>2020-2021 Desarrollador en Quokasoft </li>
                <li>2020 Auxiliar de catedra de Introduccion a la informatica, Base de datos 1 en la UAGRM</li>
                <li>2021 Auxiliar de catedra de Introduccion a la informatica, Programacion 1, 
                    Base de datos 1, Arquitectura de computadoras en la UAGRM</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Habilidades</legend>
            <ul>
                <li>Idiomas: Español, Ingles</li>
                <li>Lenguajes de programacion: Pascal, C#, C, C++, Ruby, Visual Basic, Python, Javascript, Java, Dart, PHP</li>
                <li>Tecnologias: EA, Unity, Net Beans, Blender, Photoshop, Github, Android Studio, Figma, Rad Studio,
                     Visual Studio, Flutter, Laravel, SQL SERVER, PostgreSQL, MySQL, Jira  </li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Hoobies y pasatiempos</legend>
            <ul>
                <li>Desarrollo de videojuegos</li>
                <li>Jugar videojuegos</li>
                <li>Tocar instrumentos musicales</li>
                <li>Mirar series</li>
            </ul>
        </fieldset>
    </div>

</body>

</html>