<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimedia Banda Favorita</title>
    <link rel="icon" type="image/png" href="../public/logo.png" />
    <link rel="stylesheet" type="text/css" href="../public/main.css" />
</head>

<body>
    <div class="topnav">
        <a href="../index.html">Inicio</a>
        <a href="./curriculum.html">Curriculum</a>
        <a class="active" href="./multimedia.html">Multimedia</a>
        <a href="./estadisticas.html">Estadisticas</a>
    </div>

    <div class="banda">
        <div class="box-banda">
            <img src="../public/dreamtheater.jpg" class="img" width="150" alt="imagen">
            <h2 class="nombre">Banda - Dreamtheater</h2>

            <fieldset>
                <legend>Integrantes</legend>
                <ul>
                    <li> James LaBrie - Voz</li>
                    <li>John Petrucci - Guitarra y coros</li>
                    <li>John Myung - Bajo</li>
                    <li>Jordan Rudess - Teclados y continuum</li>
                    <li> Mike Mangini - Batería</li>
                </ul>
            </fieldset>
        </div>
    </div>

    <div class="contenido">
        <h3>Videoclips Musicales</h3>

        <div class="boxes">
            <div class="box">
                <h4> Wither</h4>

                <video controls width="320" height="200">
                    <source src="../public/wither.mp4" type="video/mp4">
                </video>
            </div>

            <div class="box">
                <h4>Another Day</h4>

                <video controls width="320" height="200">
                    <source src="../public/another_day.mp4" type="video/mp4">
                </video>
            </div>

            <div class="box">
                <h4>The looking glass</h4>

                <video controls width="320" height="200">
                    <source src="../public/the_looking_glass.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <h3>Canciones</h3>

        <div class="boxes">
            <div class="box">
                <h4>The silent man</h4>
                <audio controls>
                    <source src="../public/the_silent_man.mp3" type="audio/mpeg">
                </audio>
            </div>

            <div class="box">
                <h4>The best of times</h4>
                <audio controls>
                    <source src="../public/the_best_of_times.mp3" type="audio/mpeg">
                </audio>
            </div>

            <div class="box">
                <h4>I walk beside you</h4>
                <audio controls>
                    <source src="../public/i_walk_beside_you.mp3" type="audio/mpeg">
                </audio>
            </div>

        </div>
    </div>

</body>

</html>